.card-deck{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

body{
    font-family: 'Oswald', sans-serif;
}

body {
    position: relative;
}

.card{
    margin:2%;
    width: 18rem;
}

.d-block {
    width: 100%;
}

.carousel-inner{
    width:100%;
    max-height: 600px !important;
}

.carousel-item img{
    height: 600px;
}

#carouselExampleIndicators{
    padding-bottom: 5%;
    padding-top: 4%;
}

.carousel-caption h5,p{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#profil{
    width: 100%;
    display: block;
    padding-top: 1%;
}

.jumbotron{
    margin: 10%;
    display: flex;
}

#profil-0{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#icon{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 40%;
    width: 20%;
    height: 50px;
}

#icon i {
    font-size: 38px;
}

#img-profil{
    width: 200px;
    height: 300px;
}

@media (max-width:414px){
    #carouselExampleIndicators{
        height: 250px !important;
    }
    .carousel-inner{
        height: 250px !important;
    }
    .carousel-item img{
        height: 250px;
    }
    #img-profil{
        width: 100px;
        height: 150px;
    }
    #profil-1 h1{
        font-size: 24px;
    }
    #profil-1 p{
        font-size: 16px;
    }
    .lead{
        font-size: 14px;
    }
    .card{
        width: 20.5rem;
        margin: 1%;
    }
    #icon{
        margin-left: 25%;
        width: 50%;
    }
}

@media (max-width:375px){
    .card{
        width: 18.5rem;
        margin: 1%;
    }
}